@import url(https://fonts.googleapis.com/css2?family=Inika:wght@400;700&family=Inter:wght@400;500&display=swap);


:root {
    --background-color: #f9f9f9;
    --title-color: #ff4a73;
    --search-bar-color: #f1f1f1;
    --input-text-color: #535353;
    --inactive-color: #a9a9a9;
}

.dark-theme {
    --background-color: #202020;
    --title-color: #ffcad6;
    --search-bar-color: #171717;
    --input-text-color: #fff;
    --inactive-color: #818181;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    background: var(--background-color);
    font-family: 'Inika', sans-serif;
}

.announce {
    display: flex;
    flex: auto;
    flex-direction: row;
    padding: auto;
    padding-top: 200px;
    align-items: center;
    justify-content: center;
}

.announce-logo {
    width: 190px;
}

.announce-text {
    color: var(--title-color);
    font-family: 'Inika', serif;
    font-weight: 700;
}

.announce-text h1 {
    font-size: 50px;
}

.announce-text h2 {
    font-size: 20px;
}
