@import url(https://fonts.googleapis.com/css2?family=Inika:wght@400;700&family=Inter:wght@400;500&display=swap);


:root {
    --background-color: #f9f9f9;
    --title-color: #ff4a73;
    --search-bar-color: #f1f1f1;
    --input-text-color: #535353;
    --inactive-color: #a9a9a9;
}

.dark-theme {
    --background-color: #202020;
    --title-color: #ffcad6;
    --search-bar-color: #171717;
    --input-text-color: #fff;
    --inactive-color: #818181;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    background: var(--background-light-color);
    font-family: 'Inter', sans-serif;
}

.content {
    display: flex;
    flex: auto;
    flex-direction: column;
    padding: auto;
    padding-top: 100px;
    align-items: center;
}

.container {
    width: 100%;
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    display: flex;
    flex: 1;
    justify-content: center;
    padding: 55px 8px 0;
}

.logo img {
    width: 150px;
}

.logo h1 {
    color: var(--title-color);
    font-family: 'Inika', serif;
    font-weight: 700;
    font-size: 50px;
    padding: 40px 10px;
}

.searchBar {
    width: 100%;
    max-width: 720px;
    background: var(--search-bar-color);
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 10px 20px;
}

.searchBar input {
    background: transparent;
    flex: 1;
    border: none;
    outline: none;
    padding: 12px 10px;
    font-size: 24px;
    color: var(--input-text-color);

}

.searchBar button svg path {
    width: 32px;
    fill: var(--inactive-color);
}

.searchBar button {
    border: 0;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

::placeholder {
    color: var(--inactive-color);
}
